/.git
/.github
/file
/diagram
/dbt/logs
/dbt/target
/dbt/.user.yml
/scripts
/.dockerignore
/.gitignore
/.envrc
/Dockerfile
/LICENSE
/pyproject.toml
/poetry.lock
/deploy-dbt-app-cloud-run-job.yaml
/README.md
/.idea
*.iml
*.egg-info
__pycache__
